@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --warna-teks-primer: #000000;
  --warna-teks-sekunder: #3E3636;
  --warna-teks-trasparant: #00000088;
  --warna-teks-whatsapp: #25D366;
  --warna-bg-primer: #1D3557;
  --warna-bg-sekunder: #FFFFFF;
  --warna-bg-tersier: #4E92A4;
  --warna-bg-kuarter: #3A4C60;
  --warna-abu-abu:#EEEEEE;
  --max-lebar: 430px;
  --font-Montserrat: 'Montserrat', sans-serif;
  --font-Roboto: 'Roboto', sans-serif;
  --font-Poppins: "Poppins", sans-serif;
}
/*Animation*/
@keyframes bounce {
0%, 100% {
transform: translateY(0);
}
50% {
transform: translateY(-20px);
}
}

.imp-hidden {
  display: none !important;
}

html, body {
  margin: 0;
  background-color: var(--warna-bg-sekunder);
  color: var(--warna-teks-primer);
  max-width: var(--max-lebar);
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px rgb(0 0 0 / .2);
  font-size: 16px;
  overflow-x: hidden;
  font-family: var(--font-Poppins);
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 30px;
  max-width: var(--max-lebar);
  margin: 0 auto;
  background-color: var(--warna-bg-sekunder);
  color: var(--warna-bg-primer);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  z-index: 999;
  box-shadow: 0px 5px 20px 0px rgb(0 0 0 / .2);
}
#nav-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  max-width: var(--max-lebar);
  margin: 0 auto;
  background-color: var(--warna-bg-sekunder);
  color: var(--warna-abu-abu);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0px;
  z-index: 999;
  border-radius: 30px 30px 0px 0px;
  padding-bottom: env(safe-area-inset-bottom);
}	
.nav-link{
	text-decoration: none;
	color: var(--warna-bg-tersier);
	font-size: 15px;
}
.nav-link.active{
	pointer-events: none;
	text-decoration: none;
	color: var(--warna-bg-primer);
	font-size: 15px;
}
#confirmModal{
	display: flex;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
}
.container {
  max-width: var(--max-lebar);
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
}

.container-10p { width: 10%; }
.container-20p { width: 20%; }
.container-30p { width: 30%; }
.container-40p { width: 40%; }
.container-50p { width: 50%; }
.container-60p { width: 60%; }
.container-70p { width: 70%; }
.container-80p { width: 80%; }
.container-90p { width: 90%; }
.container-auto { auto; }

.container * {
  max-width: 100%;
  box-sizing: border-box;
}


.scroll-y { overflow-y: auto; overscroll-behavior: contain; }
.scroll-x { overflow-x: auto; overscroll-behavior: contain; display: flex;flex-wrap: nowrap;}
.hide-scrollbar { overflow: auto; scrollbar-width: none; -ms-overflow-style: none; }
.hide-scrollbar::-webkit-scrollbar { display: none; }

.flex {display: flex;}
.flex.row {flex-direction: row;}
.flex.column { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.flex-align-center {align-items: center;}
.flex-justify-center {justify-content: center;}
.flex-justify-space-evenly { justify-content: space-evenly; }

.floating-box {
  display: flex;
  width: 100%;
  align-items: center;
  box-shadow: 0 0 10px rgb(0 0 0 / .2);
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
}

.border-box {
  border: 1px solid var(--warna-teks-trasparant);
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

h1 { font-size: 1.75em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1.125em; }
h5 {font-size: 1em;}
h6 { font-size: .875em; }

h1.Judul-small{
  font-size: 1em;
}
p {
  font-size: 1em;
  line-height: 1.5;
}
p.teks-deskripsi-kecil {
    font-size: 10px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p {
  display: inline;
  margin: 0;
}

.teks-trasparant {
  color: var(--warna-teks-trasparant);
}

/* Main */
main {
  text-align: center;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 70px;
}

/* Buttons */
button {
  background-color: var(--warna-bg-tersier);
  color: var(--warna-bg-sekunder);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1em;
  transition: background-color 0.3s ease;
  border: 1px solid var(--warna-bg-sekunder);
}

button.whatsapp {
  background-color: var(--warna-bg-sekunder);
  color: var(--warna-teks-whatsapp);
  border: 1px solid var(--warna-teks-whatsapp);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

button.whatsapp:hover {
  background-color: var(--warna-teks-whatsapp);
  color: var(--warna-bg-sekunder);
  border: 1px solid var(--warna-teks-whatsapp);
}

button:hover, {
  background-color: var(--warna-bg-sekunder);
  color: var(--warna-bg-tersier);
  border: 1px solid var(--warna-bg-tersier);
}

/* List */
.list-garis li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  list-style-type: none;
}
.list-garis li:last-child { border-bottom: none; }

/* Icons */
.icon-small, .icon-medium, .icon-large, .icon-xlarge {
  display: inline-block;
  vertical-align: middle;
  object-fit: contain;
}

.icon-small { width: 16px; height: 16px; }
.icon-medium { width: 32px; height: 32px; }
.icon-large { width: 48px; height: 48px; }
.icon-xlarge { width: 64px; height: 64px; }

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgb(0 0 0 / .5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: var(--warna-bg-sekunder);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 70%;
  max-width: var(--max-lebar);
  height: auto;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.modal-buttons button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#confirmYes {
  background-color: var(--warna-bg-primer);
  color: var(--warna-bg-sekunder);
}

#confirmNo {
  background-color: var(--warna-teks-sekunder);
  color: var(--warna-bg-sekunder);
}

/* Slide menu */
.slide-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / .4);
  display: none;
  justify-content: flex-end;
  z-index: 9999;
}

.slide-menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  max-width: var(--max-lebar);
  height: 70vh;
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: transform 0.5s ease;
  transform: translateX(-50%) translateY(100%);
}

.slide-menu-content {
  text-align: center;
  padding: 20px;
}

.slide-overlay.active {
  display: flex;
}

.slide-menu.active {
  transform: translateX(-50%) translateY(0);
}

/* WA Popup */
#pop-wa {
  position: fixed;
  bottom: 15%;
  left: 5%;
  right: 0;
  width: 100%;
  max-width: var(--max-lebar);
  margin: 0 auto;
  display: flex;
  padding: 0;
  z-index: 999;
}

/* Loading */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: var(--max-lebar);
  height: 100%;
  background-color: var(--warna-bg-sekunder);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#loading-screen img {
  animation: bounce 2s infinite; 
}
/* halaman utama */
#filterKatalog{
  width:90%;
  gap:5px;
  padding:5px;
}
.produk-container {
  display: flex;
  margin: 1px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 10px;
}
.produk-container-scroll-x {
	max-width :var(--max-lebar);
   display: flex;
   flex-direction: row;
   overflow-x: scroll;
   overflow-y: hidden;
   gap: 10px; /* Jarak antar item secara horizontal */
   padding: 10px 10px 10px 0;
   scroll-behavior: smooth;
   -webkit-overflow-scrolling: touch;
   white-space: nowrap;
}

.produk-item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 48%;
  margin: 10px 0px;
  border-radius: 10px;
}
.produk-item-scroll-x{
  flex: 0 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 26%;
  margin: 10px 0px;
  border-radius: 10px;
}
.produk-item img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
}
.produk-detail {
    padding: 2px 10px;
    text-align: center;
}
.produk-nama {
  font-size: 16px;
  font-weight: 500;
}
.produk-keterangan {
  font-size: 14px;
  font-weight: 300;
  color: var(--warna-teks-sekunder);
}

.produk-filter-button {
  white-space: nowrap;
}

.produk-filter-button.active {
  color: var(--warna-bg-primer);
  background-color: var(--warna-bg-sekunder);
  border: 1px solid var(--warna-bg-primer);
}

/*halaman antrian*/
.antrian{
	width: 90%;
	min-height: 100vh;
}
.antrian-status {
	padding:5px 20px;
}
.antrian-name,.antrian-order,.antrian-status {
    text-align: left;
    font-weight: 600;
    text-overflow: inherit;
}
.antrian-order{
	font-size:12px;
}
.antrian-status{
    font-size:10px;
}

.antrian-list{
    background-color:var(--warna-abu-abu);
    border-radius: 10px;
    width: 100%;
    margin: 5px 0px;
    padding: 10px 20px;
    box-shadow: inset 0px 0px 5px 0px rgb(0 0 0 / .2);
}

/*halaman produk*/
.single_produk{background-color: var(--warna-abu-abu);gap:10px;}
.single_produk_img{
background-color: var(--warna-bg-sekunder);
}
.single_produk_detail, .single_produk_deskripsi, .single_produk_cta{
width:100%;
background-color: var(--warna-bg-sekunder);
padding: 20px;
}
.single_produk_detail, .single_produk_deskripsi{
text-align: left;
}
.single_produk_detail h1,.single_produk_deskripsi h1{
	font-size: 18px;
}
.single_produk_detail p, .single_produk_deskripsi p{
	font-size: 14px;
}
/*home page*/
.layanan{
	
}
.nama_layanan{
	font-size: 20px;
}
.keterangan_layanan{
	font-size: 14px;
    margin: 5px 10px;
}
	.menu-toggle {
      font-size: 2rem;
      cursor: pointer;
    }

    .dropdown {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 10px;
      background: var(--warna-bg-sekunder);
      padding: 0px 30px;
      position: fixed;
      top: 50px;
      z-index: 10;
      width: 100%;
      max-width: var(
      --max-lebar);
      text-align: left;
    }  
	  .dropdown a {
      text-decoration: none;
      color: #333;
      padding: 4px 0;
    }
	
	#nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.spinner {
      width: 50px;
      height: 50px;
      border: 5px solid #ccc;
      border-top: 5px solid #333;
      border-radius: 50%;
      animation: spin 1s linear infinite;
}
@keyframes spin {
      to { transform: rotate(360deg); }}